// Colors
$primary-color: #f5df66;
$secondary-color: #eaecf2;
$text-color: #333;
$background-color: #f4f6f9;
$section-color: white;
$gray-color: #a2a2a5;
$gray-color-light: #f9fafc;
$error-color: #e56868;

// Spacing
$padding-base: 3rem;
$margin-base: 0.5rem;

// Fonts
$font-stack: "Roboto", sans-serif;
$font-size-base: 16px;
