// Colors
$primary-color: #f5df66;
$secondary-color: #eaecf2;
$text-color: #333;
$background-color: #F4F6F9;
$section-color: white;
$gray-color: #A2A2A5;
$gray-color-light: #F9FAFC;

// Spacing
$padding-base: 3rem;
$margin-base: 0.5rem;

// Fonts
$font-stack: "Roboto", sans-serif;
$font-size-base: 16px;
