@import "../../../styles/variables";

.financial-products-table {
  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--data {
    padding: 1rem;
    margin-top: 1rem;
    background-color: $section-color;
  }
}
