@import "../../../styles/variables";

.financial-products-table {
  padding: 1rem;
  background-color: $background-color;

  &--footer {
    padding: 20px 20px 30px 20px;
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      display: inline-block;
    }
  }
}
